@media only screen
  and (min-width: 320px)
  and (max-width: 768px){

    body{
      min-width: 320px;
    }
    .container{
    	width: 320px;
    	max-width: none !important;
    }

    .mobile{
      display: block;
    }

    .desktop, .small-screen{
      display: none;
    }

    .tablet{
      display: block;
    }

    .mobile-hidden, .tablet-hidden{
      display: none;
    }

    .navbar-toggle {
        display: block;
        margin-right: 0;
    }

    #home-banner .col-xs-6{
      width: 100%;
      margin: 0;
    }

    #home-banner .col-xs-3{
      width: 50%;
      margin: 0;
    }

    .navbar-toggle .icon-bar {
         background-color: #3a4e58;
         width: 30px;
         height: 4px;
    }

   .dropdown-nav .collapse {
       display: none!important;
       height: auto!important;
       padding-bottom: 0;
       overflow: hidden!important;
   }

   .navbar-collapse.in {
        overflow: visible !important;
        display: block !important;
        padding: 0;
   }

   .nav li form {
        padding: 15px;
        width: 100%;
    }

   .top-links {
        height: 30px;
    }

    .dropdown-nav {
        background: #e8e8e8;
    }

    .dropdown-nav {
        background: #f9f9f9;
    }

    .nav li {
        width: 100%;
        text-align: center;
        float: none;
        border-bottom: 1px solid #eaeaea
    }

    .nav {
        width: 100%;
    }

    .nav li a {
        color: #3a4e58;
        font-weight: bold;
    }

    .branding img {
        width: 225px;
        margin-top: 17px;
    }

    #home-banner {
        background: url(../assets/bg-banner-tablet.jpg) center top no-repeat;
        background-size: cover;
    }

    #home-banner h1 {
        margin-top: 150px;
    }

    .tooltip-items ul li {
        width: 100%;
        padding: 0 !important;
        margin-top: 25px;
    }

    .icon-search-local {
        width: 30px;
        height: 30px;
        background-position-x: 564px;
        background-position-y: 214px;
        z-index: 100;
        position: absolute;
        margin: 10px 17px;
    }

    .icon-calculate-savings {
        width: 30px;
        height: 30px;
        background-position-x: 452px;
        background-position-y: 213px;
        z-index: 100;
        position: absolute;
        margin: 10px 17px;
    }

    .icon-sign-up {
        width: 30px;
        height: 30px;
        background-position-x: 343px;
        background-position-y: 213px;
        position: absolute;
        z-index: 100;
        margin: 10px 17px;
    }

    #home-banner .tooltip-nav .tooltip-items a {
        margin: 0;
        z-index: 50;
        position: relative;
        width: 100%;
        height: 50px;
        padding: 14px 15px 12px 35px;
    }

    #home-banner .rate-trade-services {
        float: none;
        height: 0;
        text-align: center;
        margin: 35px;
    }

    .col-xs-11.col-xs-offset-1.tooltip-items {
        margin-left: 0;
        width: 100%;
    }

    .wide, .narrow, .narrower, .narrow-1x {
        width: 100%;
    }

    p{
      width: 100% !important;
      font-size: 12px !important;
    }

    #how-it-works {
        margin-top: 70px;
    }

    .steps .right {
        width: 85%;
    }

    .step-description h3 {
        font-size: 15px;
    }

    .description-box-left {
        margin: 48px 0 0 12px;
        padding: 15px;
    }

    .steps .divider {
        background: url(../assets/img-divider-mobile.png) center top no-repeat;
    }

    #how-it-works.home .steps .step-description.stepTwo {
        margin-top: 101px;
    }

    #how-it-works.home .steps .step-description.stepThree {
        margin-top: 156px;
    }

    #how-it-works.home .steps .step-description.stepFour {
        margin-top: 111px;
    }

      .widget .item {
          width: 100%;
      }

      #how-we-help .widget p {
          min-height: auto;
      }

    footer {
          background-size: cover;
    }

    footer .main-footer {
        padding: 20px 33px 40px;
    }

    footer .company-identity {
        margin-bottom: 30px;
        width: 100%;
    }

    footer .nav-category {
        width: 50%;
        padding: 31px 0px 0px 0px !important;
    }

    footer .links {
        margin: 10px !important;
    }

    footer .social-media {
        margin-top: 26px;
    }

    footer .social-item {
        padding-left: 0px;
        width: 100%;
        margin-bottom: 23px;
    }

    footer .copyright p {
        margin: 0;
        text-align: center;
    }

    footer ul.legal-links {
        float: none;
        width: 50%;
        overflow: auto;
        margin: 5px auto;
    }

    footer .company-identity img {
        width: 100%;
    }

    ul.nav.navbar-nav {
        margin: 0 !important;
    }

    .modal-content {
        width: 90%;
        margin: 0 auto;
    }

    .modal-body {
        padding: 0 30px 30px;
        text-align: center;
    }

    .modal .btn.facebook, .modal .btn.google {
        font-size: 7px;
    }

    span.hLine {
        display: none;
    }

    .icon-fb-white, .icon-g-white {
      margin-left: 7px !important;
    }

    .rating-stars .rating-label {
        float: left !important;
        width: auto !important;
    }

    iframe {
        height: 201px;
    }

    .icon-left-bar, .icon-right-bar {
        display: none;
    }

    section .col-xs-6, section .col-xs-4, section .col-xs-3, section .col-xs-8, section .col-xs-9, section .col-xs-2, section .col-xs-5, .pricing, #why-sign-up .widget-item, #edit-user-info .col-xs-10 {
        width: 100%;
    }

    section .col-xs-offset-3, section .col-xs-offset-2, section .col-xs-offset-4 {
        margin-left: 0 !important;
    }

    #how-it-works.tradesman .step-description.stepThree {
          margin-top: 285px;
    }

    #why-sign-up .widget-item {
        width: 100%;
        overflow: auto;
        text-align: center;
    }

    #why-sign-up .widget-item .icon {
        float: none;
        margin: 0 auto;
    }

    #savings-calculator input, #savings-calculator .btn-group{
      margin-bottom: 0px;
    }

    button.btn-calculator {
        margin-top: 30px;
    }

    #cover-container .page-info .separator {
        margin: 10px auto;
        border-color: #fff;
    }

    #categorySearch .col-xs-2 {
        padding: 0 !important;
    }

    #categorySearch .hs-primary {
        padding: 13px 22px;
        color: transparent;
    }

    #categorySearch .icon-search {
        position: relative;
        margin: 0 !important;
        top: 5px;
        left: -5px;
    }

    .category .item a {
        line-height: 24px;
        padding: 10px 10px;
        margin: 3px 0;
    }

    #cover-container .profile-img {
        width: 125px;
        height: 125px;
    }

    #user-info .statistics {
        margin: 20px 0;
    }

    #cover-container .profile-info h1 {
        font-size: 16px;
    }

    #cover-container .profile-info {
        float: left;
        margin-left: 150px;
        position: relative;
        top: -135px;
    }

    #user-info h2.trade {
        font-size: 16px;
        margin-top: 24px;
    }

    .profile-details {
        margin-top: 38px;
    }

    #progress-bar .row {
        display: none;
    }

    .add-agent-button {
        position: relative;
        top: -82px;
        left: 136px;
        height: 0;
    }

    #sign-up-form button {
        width: 100%;
    }

    .no-padding-right, .no-padding-left {
        padding: 0 !important;
    }

    #sign-up-form .preview-value {
        float: left;
        width: 100%;
    }

    .preview-total {
        margin-top: 11px;
    }

    #sign-up-form .btn {
        width: 100% !important;
        margin: 13px 0 !important;

    }

    #sign-up-form .hs-default.close-btn{
        margin-right: 0 !important;
    }

    .info-item .icon {
        width: 16%;
    }

    .nav-panel .col-xs-4.switch-user, .switch-holder .col-xs-4.switch-guest{
        width: 40%;
    }

    .nav-panel .col-xs-8, .switch-holder .col-xs-8{
        width: 60%;
    }

    .profile-info.edit {
        width: 155px;
    }

    .profile-info.edit input {
        width: 100%;
    }

    input#profileupload {
        position: absolute;
        width: 110px;
        top: 85px;
        left: 7px;
        opacity: 0;
        z-index: 501;
    }

    .breadcrumbs .profile-img .update-profile {
        margin: 0 auto;
        display: block;
        position: relative;
        top: 76px;
        z-index: 500;
    }

    section#edit-user-info {
        padding-top: 50px;
    }

    .upload-gallery .col-xs-5, .upload-gallery .col-xs-7 {
        width: 100%;
    }

    .agent-settings .rep-agents div:first-child {
        display: none;
    }

    #referral {
        width: 100%;
        margin: 0 auto;
    }

    #referral input[type="text"] {
        width: 100%;
    }

    #sign-up-form .complete {
        text-align: center;
        padding: 50px 40px;
    }

    .form-box .col-xs-4 {
        padding: 0 !important;
    }

    .price input {
        width: 45% !important;
    }

    .form-box .col-xs-3.col-xs-offset-9 {
        width: 100%;
        margin: 0 !important;
    }

    #user-info.customer div {
        margin-bottom: 15px;
    }

    .processing-form h3 {
        text-align: left;
    }

    button.remove-transaction {
        position: absolute;
        float: none;
        margin-top: 35px;
        left: 6px;
    }

    .processing-form .entry .value {
        width: 100% !important;
    }

    .processing-form .entry .amount, .processing-form .stars {
        float: left;
    }

    .processing-form .transactions .entry .value {
        width: auto !important;
    }
}
