<div class="row">
    <div class="col-md-12">
        <h4 class="title">Advertisements</h4>
        <div class="pull-right">
            <a class="btn btn-primary btn-sm add-btn" ng-click="openAdvertisementModal()">
                <i class="pe-7s-plus"></i>
                Add Advertisement
            </a>
        </div>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                    <th>Name</th>
                    <th>Type</th>
                    <th>Priority</th>

                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="advertisement in _advertisements">

                        <td>{{ advertisement.name }}</td>
                        <td>{{ advertisement.type }}</td>
                        <td>{{ advertisement.priority }}</td>

                        <td class="btn-actions">
                            <a href="" ng-click="editAdvertisement(advertisement, $index)" class="edit">
                                <i class="pe-7s-note"></i>
                            </a>

                            <a href="" ng-click="toggleStatus(advertisement, $index)" class="disable">
                                <i ng-if="advertisement.status == 1" class="pe-7s-check"></i>
                                <i ng-if="advertisement.status == 0" class="pe-7s-close-circle"></i>
                            </a>

                            <a href="" ng-click="deleteAdvertisement(advertisement, $index)" class="delete">
                                <i class="pe-7s-trash"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="limit"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>


<script type="text/ng-template" id="advertisement-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add New Advertisement</h4>
    </div>
    <div class="modal-body">

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Name</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="advertisementData.name">
                <span class="help-block has-error {{showErrorBlock('name', 'hidden')}}">
                    <strong>{{errors.name[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Type</label>
            </div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="advertisementData.type">
                    <option value="">Select Property Type</option>
                    <option value="270x270">270x270</option>
                    <option value="728x90">728x90</option>
                    <option value="141x117">141x117</option>
                </select>
                <span class="help-block has-error {{showErrorBlock('type', 'hidden')}}">
                    <strong>{{errors.type[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Priority</label>
            </div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="advertisementData.priority">
                    <option value="">Select Priority</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
                <span class="help-block has-error {{showErrorBlock('priority', 'hidden')}}">
                    <strong>{{errors.priority[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Upload Image</label>
            </div>
            <div class="col-xs-8">
                <img ng-show="adFileSrc" ng-src="{{ adFileSrc }}" class="img-responsive">
                <input type="file"
                       file-model="adFile"
                       file-image-src="adFileSrc"
                       class="form-control">
                <span class="help-block has-error {{showErrorBlock('adFile', 'hidden')}}">
                    <strong>{{errors.adFile[0]}}</strong>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveAdvertisement()">Save changes</button>
    </div>

</script>

<script type="text/ng-template" id="edit-advertisement-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Advertisement</h4>
    </div>
    <div class="modal-body">

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Name</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="advertisementData.name">
                <span class="help-block has-error {{showErrorBlock('name', 'hidden')}}">
                    <strong>{{errors.name[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Type</label>
            </div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="advertisementData.type">
                    <option value="">Select Property Type</option>
                    <option value="270x270">270x270</option>
                    <option value="728x90">728x90</option>
                    <option value="141x117">141x117</option>
                </select>
                <span class="help-block has-error {{showErrorBlock('type', 'hidden')}}">
                    <strong>{{errors.type[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Priority</label>
            </div>
            <div class="col-xs-8">
                <select class="form-control" ng-model="advertisementData.priority">
                    <option value="">Select Priority</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                </select>
                <span class="help-block has-error {{showErrorBlock('priority', 'hidden')}}">
                    <strong>{{errors.priority[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Upload Image</label>
            </div>
            <div class="col-xs-8">
                <img ng-show="adFileSrc" ng-src="{{ adFileSrc }}" class="img-responsive">
                <input type="file"
                       file-model="adFile"
                       file-image-src="adFileSrc"
                       class="form-control">
                <span class="help-block has-error {{showErrorBlock('adFile', 'hidden')}}">
                    <strong>{{errors.adFile[0]}}</strong>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveAdvertisement()">Update</button>
    </div>

</script>