<style>
    .pull-right .search-component {
        margin-top: -70px;
        margin-left: 150px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Categories</h4>
        <div class="pull-right">
            <a class="btn btn-primary btn-sm add-btn" ng-click="addCategory()">
                <i class="pe-7s-plus"></i>
                Add Category
            </a>
            <div class="form-inline">
                <div class=" search-component">
                    <label> Search: </label>
                    <input name="search" class="form-control" ng-model='query' />
                    <button class="btn btn-success" ng-click="search()"> <i class="fa fa-search"></i>Submit </button>
                    <button class="btn btn-warning" ng-click="reset()"> <i class="fa fa-refresh"></i> Reset </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                    <th class="clickable">Id
                        <span ng-click="sort('id', 'asc')" class="fa fa-caret-up"></span>
                        <span ng-click="sort('id', 'desc')" class="fa fa-caret-down"></span>
                    </th>
                    <th class="clickable">Category
                        <span ng-click="sort('category', 'asc')" class="fa fa-caret-up"></span>
                        <span ng-click="sort('category', 'desc')" class="fa fa-caret-down"></span>
                    </th>

                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="category in _categories | filter : query">

                        <td>{{ category.id }}</td>
                        <td>{{ category.category }}</td>

                        <td class="btn-actions">

                            <a uib-tooltip="Edit Category" href="" ng-click="editCategory(category, $index)" class="edit">
                                <i class="pe-7s-note"></i>
                            </a>

                            <a uib-tooltip="Disable Category" href="" ng-click="toggleStatus(category, $index)" class="disable">
                                <i ng-if="category.status == 1" class="pe-7s-check text-success"></i>
                                <i ng-if="category.status == 0" class="pe-7s-close-circle text-danger"></i>
                            </a>
                            <a uib-tooltip="Delete Category" href="" ng-click="deleteCategory(category, $index)" class="delete">
                                <i class="pe-7s-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>





<script type="text/ng-template" id="category-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ (categoryAction=='edit')?'Edit':'Add New' }} Category</h4>
    </div>
    <div class="modal-body">

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Name</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="categoryData.category">
                <span class="help-block has-error {{showErrorBlock('category', 'hidden')}}">
                    <strong>{{errors.category[0]}}</strong>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>

</script>