<style>
    .daterange-label {
        line-height: 40px;
        float: left;
    }
    .input-group {
        float: left;
        width: 30%;
        margin: 0px 5px 0px 5px;
    }
    .column-search {
        margin-bottom: 10px;
    }
    .header-action {
        margin-top: 20px;
    }
    thead th {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Categories</h4>
        <div class="pull-right">
            <a class="btn btn-primary btn-sm add-btn" ng-click="addCategory()">
                <i class="pe-7s-plus"></i>
                Add Category
            </a>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="form-inline col-xs-7">
                <label class="daterange-label"> Date created range: </label>
                <div class="input-group" datepicker date-format="yyyy-MM-dd">
                    <input class="form-control" ng-model="fromDate" placeholder="Search Date From"/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
                <div class="input-group" datepicker date-format="yyyy-MM-dd">
                    <input class="form-control" ng-model="toDate" placeholder="Search Date To"/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
                <button class="btn btn-success" ng-click="getAllCategories()"> <i class="fa fa-calendar"></i> Search </button>
            </div>
            <div class="form-inline col-xs-5 search-component-wrapper">
                <div class="search-component">
                    <label> Search: </label>
                    <input name="search" class="form-control" ng-model='query' />
                    <button class="btn btn-success" ng-click="search()"> <i class="fa fa-search"></i>Submit </button>
                    <button class="btn btn-warning" ng-click="reset()"> <i class="fa fa-refresh"></i> Reset </button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                    <th class="clickable">
                        <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'id')" />
                        Id
                        <span ng-click="sort('id', 'asc')" class="fa fa-caret-up"></span>
                        <span ng-click="sort('id', 'desc')" class="fa fa-caret-down"></span>
                    </th>
                    <th class="clickable">
                        <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'category')" />
                        Category
                        <span ng-click="sort('category', 'asc')" class="fa fa-caret-up"></span>
                        <span ng-click="sort('category', 'desc')" class="fa fa-caret-down"></span>
                    </th>
                    <th class="clickable">
                        <!-- <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'category')" /> -->
                        Date Creadted
                        <span ng-click="sort('created_at', 'asc')" class="fa fa-caret-up"></span>
                        <span ng-click="sort('created_at', 'desc')" class="fa fa-caret-down"></span>
                    </th>
                    <th>
                        Enlisted (Total)
                    </th>
                    <th>
                        Enlisted (Last Week)
                    </th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="category in _categories | filter : query">

                        <td>{{ category.id }}</td>
                        <td>{{ category.category }}</td>
                        <td> {{ toJsDate(category.created_at) | date : 'mediumDate' }} </td>
                        <td> {{ category.total_enlisted }} </td>
                        <td> {{ category.last_week_enlisted }} </td>
                        <td class="btn-actions">

                            <a uib-tooltip="Edit Category" href="" ng-click="editCategory(category, $index)" class="edit">
                                <i class="pe-7s-note"></i>
                            </a>

                            <a uib-tooltip="Disable Category" href="" ng-click="toggleStatus(category, $index)" class="disable">
                                <i ng-if="category.status == 1" class="pe-7s-check text-success"></i>
                                <i ng-if="category.status == 0" class="pe-7s-close-circle text-danger"></i>
                            </a>
                            <a uib-tooltip="Delete Category" href="" ng-click="deleteCategory(category, $index)" class="delete">
                                <i class="pe-7s-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>





<script type="text/ng-template" id="category-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ (categoryAction=='edit')?'Edit':'Add New' }} Category</h4>
    </div>
    <div class="modal-body">

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Name</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="categoryData.category">
                <span class="help-block has-error {{showErrorBlock('category', 'hidden')}}">
                    <strong>{{errors.category[0]}}</strong>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>

</script>