<style>
    .search-component {
        margin-bottom: 20px;
    }
    .search-component .form-group:first-child {
        margin-top: 20px;    
    }
    .daterange-label {
        line-height: 40px;
        float: left;
    }
    .input-group {
        float: left;
        width: 30%;
        margin: 0px 5px 0px 5px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h4 class="title">Members</h4>
        <div class="clearfix">
            <div class="form-inline">
                <div class="export  pull-right">
                    <a class="btn btn-success btn-sm add-btn" ng-click="exportToExcel()">
                        <i class="pe-7s-file"></i>
                        Export to Excel
                    </a>
                    <a class="btn btn-primary btn-sm add-btn" ng-click="addMember()">
                        <i class="pe-7s-plus"></i>
                        Add Member
                    </a>
                </div>
                <div class="search-component row">
                    <div class="form-group col-xs-7">
                        <label class="daterange-label"> Date Range: </label>
                        <div class="input-group" datepicker date-format="yyyy-MM-dd">
                            <input class="form-control" ng-model="fromDate" placeholder="Date From"/>
                            <span class="input-group-addon" style="cursor: pointer">
                            <i class="fa fa-lg fa-calendar"></i>
                            </span>
                        </div>
                        <div class="input-group" datepicker date-format="yyyy-MM-dd">
                            <input class="form-control" ng-model="toDate" placeholder="Date To"/>
                            <span class="input-group-addon" style="cursor: pointer">
                            <i class="fa fa-lg fa-calendar"></i>
                            </span>
                        </div>
                        <button class="btn btn-success" ng-click="searchDate()"> <i class="fa fa-calendar"></i> Search </button>
                    </div>
                    <div class="form-group col-xs-5">
                        <label> Search: </label>
                        <input name="search" class="form-control" ng-model="query" />
                        <button class="btn btn-success" ng-click="search()"> <i class="fa fa-search"></i>Submit </button>
                        <button class="btn btn-warning" ng-click="reset()"> <i class="fa fa-refresh"></i> Reset </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th class='clickable'>
                            Name
                            <span ng-click="sort('name', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('name', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class='clickable'>
                            Email
                            <span ng-click="sort('email', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('email', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class='clickable'>
                            Role
                            <span ng-click="sort('role_name', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('role_name', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class='clickable'>
                            Subscription Type
                            <span ng-click="sort('subscription_type', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('subscription_type', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class='clickable'>
                            Subs Start
                            <span ng-click="sort('sub_start_raw', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('sub_start_raw', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class='clickable'>
                            Subs End
                            <span ng-click="sort('sub_end_raw', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('sub_end_raw', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in _users | filter:query">

                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role_name }}</td>
                        <td>{{ user.subscription_type }}</td>
                        <td>{{ user.sub_start }}</td>
                        <td>{{ user.sub_end }}</td>

                        <td class="btn-actions">
                            <a href="" ng-click="editUser(user, $index)" class="edit">
                                <i class="pe-7s-note"></i>
                            </a>

                            <a uib-tooltip="Extend Subscription" ng-disabled="user.subscription_type == 'None'" href="" ng-click="openExtensionModal(user, $index)" class="extend-subscription">
                                <i class="pe-7s-clock text-warning"></i>
                            </a>

                            <a uib-tooltip="Disable Member" href="" ng-click="toggleStatus(user, $index)" class="disable">
                                <i ng-if="user.status == 1" class="pe-7s-check text-success"></i>
                                <i ng-if="user.status == 0" class="pe-7s-close-circle text-danger"></i>
                            </a>

                            <a uib-tooltip="Delete Member" href="" ng-click="deleteUser(user, $index)" class="delete">
                                <i class="pe-7s-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>


<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="limit"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>

<script type="text/ng-template" id="extend-member-subscription-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Extend Subscription for {{ userData.name }}</h4>
    </div>
    <div class="modal-body">

        <div class="row form-item">
            <div class="col-xs-3"><input ng-model="userData.months" type="number" class="form-control input-number"></div>
            <div class="col-xs-9"><label>Months</label></div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="extendSubscriptionUser()">Save changes</button>
    </div>

</script>


<script type="text/ng-template" id="member-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ (memberAction=='edit')?'Edit':'Add New' }} Member</h4>
    </div>
    <div class="modal-body">

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Name</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="memberData.name">
                <span class="help-block has-error {{showErrorBlock('name', 'hidden')}}">
                    <strong>{{errors.name[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Email</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="memberData.email">
                <span class="help-block has-error {{showErrorBlock('email', 'hidden')}}">
                    <strong>{{errors.email[0]}}</strong>
                </span>
            </div>
        </div>

        <div ng-if="memberAction=='add'" class="row form-item">
            <div class="col-xs-4">
                <label>Password</label>
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="memberData.password">
                <span class="help-block has-error {{showErrorBlock('password', 'hidden')}}">
                    <strong>{{errors.password[0]}}</strong>
                </span>
            </div>
        </div>

        <div class="row form-item">
            <div class="col-xs-4">
                <label>Role</label>
            </div>
            <div class="col-xs-8">
                <select ng-model="memberData.role" class="form-control" ng-options="role.id as role.name for role in roles">
                    <option value="">Select Role</option>
                </select>
                <span class="help-block has-error {{showErrorBlock('role', 'hidden')}}">
                    <strong>{{errors.role[0]}}</strong>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>

</script>