<div class="row">
    <div class="col-md-12">
        <h4 class="title">Reviews</h4>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                    <th>Reviewee</th>
                    <th>Reviewer</th>

                    <th>Title</th>
                    <th style="width:351px;">Content</th>

                    <th>Communication</th>
                    <th>Work Quality</th>
                    <th>Price</th>
                    <th>Punctuality</th>
                    <th>Attitude</th>
                    <th>Helpful</th>

                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="review in _reviews">

                        <td>{{ review.reviewee_name }}</td>
                        <td>{{ review.reviewer_name }}</td>

                        <td>{{ review.title }}</td>
                        <td>{{ review.content }}</td>

                        <td>{{ review.communication }}/5</td>
                        <td>{{ review.work_quality }}/5</td>
                        <td>{{ review.price }}/5</td>
                        <td>{{ review.punctuality }}/5</td>
                        <td>{{ review.attitude }}/5</td>
                        <td>{{ review.helpful }}/5</td>

                        <td class="btn-actions">

                            <a href="" ng-click="toggleStatus(review, $index)" class="disable">
                                <i ng-if="review.status == 1" class="pe-7s-check text-success"></i>
                                <i ng-if="review.status == 0" class="pe-7s-close-circle text-danger"></i>
                            </a>

                            <a href="" ng-click="deleteReview(review, $index)" class="delete">
                                <i class="pe-7s-trash text-danger"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="limit"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>