<style>
    .reviews-filter{
        margin-top:-60px;
    }
    .daterange-label {
        line-height: 40px;
        float: left;
    }
    .input-group {
        float: left;
        width: 30%;
        margin: 0px 5px 0px 5px;
    }
    .column-search {
        margin-bottom: 20px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h4 class="title">Reviews</h4>        
        <!-- <div class="pull-right">
            <div class="reviews-filter">
                <label>Reviewee: </label>
                <select ng-change="filterReviews()" name="reviewee" class="form-control" ng-options="user.reviewee_id as user.reviewee_name for user in reviewees" ng-model="revieweeFilter">
                    <option value="">All Reviews</option>
                </select>
            </div>
        </div> -->

        <div class="row">
            <div class="col-xs-7">
                <label class="daterange-label"> Date Range: </label>
                <div class="input-group" datepicker date-format="yyyy-MM-dd">
                    <input class="form-control" ng-model="fromDate" placeholder="Date From"/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
                <div class="input-group" datepicker date-format="yyyy-MM-dd">
                    <input class="form-control" ng-model="toDate" placeholder="Date To"/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
                <button class="btn btn-success" ng-click="search()"> <i class="fa fa-calendar"></i> Search </button>    
            </div>
            <div class="col-xs-5 form-inline">
                <label> Search: </label>
                <input name="search" class="form-control" ng-model="query" />
                <button ng-click="search()" class="btn btn-success"> <i class="fa fa-search"></i> Submit </button>
                <button class="btn btn-warning" ng-click="refresh()"> <i class="fa fa-refresh"></i> Reset </button>
            </div>
        </div>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th class="clickable">
                            <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'created_at')" />
                            Date Created
                            <span ng-click="sort('created_at', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('created_at', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">
                            <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'reviewee')" />
                            Reviewee
                            <span ng-click="sort('reviewee_name', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('reviewee_name', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">
                            <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'reviewer')" />
                            Reviewer
                            <span ng-click="sort('reviewer_name', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('reviewer_name', 'desc')" class="fa fa-caret-down"></span>
                        </th>

                        <th class="clickable">
                            <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'title')" />
                            Title
                            <span ng-click="sort('title', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('title', 'desc')" class="fa fa-caret-down"></span>
                        </th>

                        <th style="width: 151px;">
                            <input type="text" class="form-control column-search" ng-keyup="searchByField($event, 'content')" />
                            Content
                            <span ng-click="sort('content', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('content', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Communication
                            <span ng-click="sort('communication', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('communication', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Work Quality
                            <span ng-click="sort('work_quality', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('work_quality', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Price
                            <span ng-click="sort('price', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('price', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Punctuality
                            <span ng-click="sort('punctuality', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('punctuality', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Attitude 
                            <span ng-click="sort('attitude', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('attitude', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Helpful 
                            <span ng-click="sort('helpful', 'asc')" class="fa fa-caret-up"></span>
                            <span ng-click="sort('helpful', 'desc')" class="fa fa-caret-down"></span>
                        </th>
                        <th class="clickable">Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="review in _reviews | filter:query">

                        <td> {{ toJsDate(review.created_at) | date : 'mediumDate' }} </td>
                        <td>{{ review.reviewee_name }}</td>
                        <td>{{ review.reviewer_name }}</td>

                        <td>{{ review.title }}</td>
                        <td>{{ review.content }}</td>

                        <td>{{ review.communication }}/5</td>
                        <td>{{ review.work_quality }}/5</td>
                        <td>{{ review.price }}/5</td>
                        <td>{{ review.punctuality }}/5</td>
                        <td>{{ review.attitude }}/5</td>
                        <td>{{ review.helpful }}/5</td>
                        <td class="btn-actions">

                            <a uib-tooltip="Disable Review" href="" ng-click="toggleStatus(review, $index)" class="disable">
                                <i ng-if="review.status == 1" class="pe-7s-check text-success"></i>
                                <i ng-if="review.status == 0" class="pe-7s-close-circle text-danger"></i>
                            </a>

                            <a uib-tooltip="Delete Review" href="" ng-click="deleteReview(review, $index)" class="delete">
                                <i class="pe-7s-trash text-danger"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="limit"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>