<style>
    .reviews-filter{
        margin-top:-60px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h4 class="title">Reviews</h4>        
        <div class="pull-right">
            <div class="reviews-filter form-inline">
                <label>Reviewee: </label>
                <select ng-change="filterReviews()" name="reviewee" class="form-control" ng-options="user.reviewee_id as user.reviewee_name for user in reviewees" ng-model="revieweeFilter">
                    <option value="">All Reviews</option>
                </select>
                <label> Search: </label>
                <input name="search" class="form-control" ng-model="query" />
                <button ng-click="search()" class="btn btn-success"> Go </button>
                <button class="btn btn-warning" ng-click="refresh()"> Reset </button>
            </div>
        </div>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                        <th>Reviewee
                            <span ng-click="sort('reviewee_name')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>
                        <th>Reviewer
                            <span ng-click="sort('reviewer_name')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>

                        <th>Title
                            <span ng-click="sort('title')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>

                        <th style="width: 151px;">Content
                            <span ng-click="sort('content')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>

                        <th>Communication
                            <span ng-click="sort('communication')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>
                        <th>Work Quality
                            <span ng-click="sort('work_quality')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>
                        <th>Price <span ng-click="sort('price')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span></th>
                        <th>Punctuality <span ng-click="sort('punctuality')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span></th>
                        <th>Attitude <span ng-click="sort('attitude')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span></th>
                        <th>Helpful <span ng-click="sort('helpful')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span></th>
                        <th>Date Created
                            <span ng-click="sort('created_at')" ng-class="direction()" aria-hidden="true" style="cursor:pointer;"></span>
                        </th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="review in _reviews | filter:query">

                        <td>{{ review.reviewee_name }}</td>
                        <td>{{ review.reviewer_name }}</td>

                        <td>{{ review.title }}</td>
                        <td>{{ review.content }}</td>

                        <td>{{ review.communication }}/5</td>
                        <td>{{ review.work_quality }}/5</td>
                        <td>{{ review.price }}/5</td>
                        <td>{{ review.punctuality }}/5</td>
                        <td>{{ review.attitude }}/5</td>
                        <td>{{ review.helpful }}/5</td>
                        <td> {{ toJsDate(review.created_at) | date : 'mediumDate' }} </td>
                        <td class="btn-actions">

                            <a uib-tooltip="Disable Review" href="" ng-click="toggleStatus(review, $index)" class="disable">
                                <i ng-if="review.status == 1" class="pe-7s-check text-success"></i>
                                <i ng-if="review.status == 0" class="pe-7s-close-circle text-danger"></i>
                            </a>

                            <a uib-tooltip="Delete Review" href="" ng-click="deleteReview(review, $index)" class="delete">
                                <i class="pe-7s-trash text-danger"></i>
                            </a>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="totalItems"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="limit"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>