<div class="row">
    <div class="col-md-12">
        <h4 class="title">Suburbs</h4>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                    <th>Id</th>
                    <th>Name</th>
                    <th>Availability</th>

                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="suburb in _suburbs">

                        <td>{{ suburb.id }}</td>
                        <td>{{ suburb.name }}</td>
                        <td>{{ suburb.availability }}</td>

                        <td>
                            <a href="" ng-click="editSuburb(suburb, $index)" class="edit">
                                <i class="pe-7s-trash"></i>
                            </a>
                            <a href="" ng-click="deleteSuburb(suburb, $index)" class="delete">
                                <i class="pe-7s-check"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


                <!--<uib-pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="10"
                                max-size="4"
                                ng-change="changePage(currentPage)"
                                items-per-page="5"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></uib-pagination>-->



    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="suburbsLength"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>