<div class="row">
    <div class="col-md-12">
        <h4 class="title">Suburbs</h4>
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>

                    <th>Id</th>
                    <th>Name</th>
                    <th>Availability</th>

                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="suburb in _suburbs">

                        <td>{{ suburb.id }}</td>
                        <td>{{ suburb.name }}</td>
                        <td>
                            <a href="" ng-if="suburb.availability>0" ng-click="showAvailabilities(suburb)">{{ suburb.availability }}</a>
                            <span ng-if="suburb.availability<=0">0</span>
                        </td>

                        <td>
                            <a href="" ng-click="editSuburb(suburb, $index)" class="edit">
                                <i class="pe-7s-trash"></i>
                            </a>
                            <a href="" ng-click="deleteSuburb(suburb, $index)" class="delete">
                                <i class="pe-7s-check"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>


</div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <ul uib-pagination
                total-items="suburbsLength"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                ng-change="changePage(currentPage)">
            </ul>
        </div>
    </div>
</div>



<script type="text/ng-template" id="suburb-availability-modal.html">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Agents for {{ currentSuburb.name }}</h4>
    </div>
    <div class="modal-body">

        <table class="table table-hover table-striped">
            <thead>
            <th>Name</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr ng-repeat="user_meta in user_metas">

                <td>{{ user_meta.name }}</td>

                <td>
                    <a href="" ng-click="removeAgent(user_meta, $index)" class="delete">
                        <i class="pe-7s-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
    </div>

</script>